@model CouponApplication.Models.Business
<h2>Show business</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusinessId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.BusinessId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.City)
        </td>
    </tr>

</table>
