@model CouponApplication.Models.AllModel
@{
    ViewBag.Title = "AddCopons";
}

<h2>AddCopons</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Coupon.CouponId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Coupon.CouponId)
            @Html.ValidationMessageFor(model => model.Coupon.CouponId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Coupon.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Coupon.Name)
            @Html.ValidationMessageFor(model => model.Coupon.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Coupon.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Coupon.Description)
            @Html.ValidationMessageFor(model => model.Coupon.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Coupon.OriginalPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Coupon.OriginalPrice)
            @Html.ValidationMessageFor(model => model.Coupon.OriginalPrice)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Coupon.CurrentPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Coupon.CurrentPrice)
            @Html.ValidationMessageFor(model => model.Coupon.CurrentPrice)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Coupon.deadline)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Coupon.deadline)
            @Html.ValidationMessageFor(model => model.Coupon.deadline)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Categories)
        </div>
        <div class="editor-field">
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                @Html.CheckBoxFor(model => Model.Categories[i].Choose, Model.Categories[i].CategoryId)
                @Html.HiddenFor(model => Model.Categories[i].CategoryId)
                @Html.HiddenFor(model => Model.Categories[i].Name)
                @Html.Label(Model.Categories[i].Name)
            }
        </div>
        <p>
            <input type="submit" value="AddCopon" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}