@model IEnumerable<CouponApplication.Models.Notifications>

<h2>Notifications</h2>

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.NotificationsId })
                </td>
            </tr>
        }

    </table>
<br/>
@Html.ActionLink("Go Back", "Index")