@model CouponApplication.Models.Coupon

<h2>Coupon</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CouponId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deadline)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.CouponId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @foreach (var item2 in Model.Categories)
            {
                @Html.DisplayFor(modelItem => item2.Name)
                @Html.Label(" ");
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OriginalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.CurrentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.deadline)
        </td>
    </tr>
</table>