@model CouponApplication.Models.User

@{
    ViewBag.Title = "UserLogIn";
}

<h1>LogIn</h1>

@using (Html.BeginForm("LogIn", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.TextBoxFor(a => a.Email)</td>
            <td>@Html.ValidationMessageFor(a => a.Email)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.Password)
            </td>
            <td>
                @Html.PasswordFor(a => a.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.Password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login" />
            </td>
            <td>
                @Html.ActionLink("Forgot your password", "ForgotPass")
            </td>
        </tr>
    </table>

    if (!ViewData.ModelState.IsValid)
    {
        if (ViewData.ModelState["PassEror"] != null && ViewData.ModelState["PassEror"].Errors.Count != 0)
        {
            <h4>@ViewData.ModelState["PassEror"].Errors[0].ErrorMessage</h4>
        }
        if (ViewData.ModelState["EmailEror"] != null && ViewData.ModelState["EmailEror"].Errors.Count != 0)
        {
            <h4> @ViewData.ModelState["EmailEror"].Errors[0].ErrorMessage </h4>
        }
    }
}

@* This below line is for create javascript section *@

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}